.long-tile {
    width: 50vw;
    height: 5vh;
    text-align: center;
    background-color: white;
    margin-top: 1rem;
}

.event-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }