header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  background-color: var(--primary-color);
}

.header-logo {
  height: 12vh;
}

.nav-drop {
  position: fixed;
  top: 3vh;
  right: 1vw;
  height: 5vh;
  width: 8vw;
  background-color: var(--secondary-color-white);
  color: var(--secondary-color-black);
  font-family: var(--secondary-font);
  font-size: 2vh;
}