header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  background-color: var(--primary-color);
}

.header-logo {
  height: 12vh;
}

.nav-drop {
  position: fixed;
  top: 4vh;
  right: 1vw;
}