:root {
  --primary-font: 'ABeeZee', sans-serif;
  --secondary-font: 'Mandali', sans-serif;
  --primary-font-color: #141E27;
  --primary-color: #B8405E;
  --secondary-color-black: #353535;
  --secondary-color-grey: #B2B2B2;
  --secondary-color-white: #EEEDDE;
  --secondary-color-blue: #2EB086;
  --border-rad: 3px;
  --gap-from-header: 5vh;
  --section-height: 80vh;

  --section-min-height: 75vh;
  --section-width: 70vw;
  --section-min-width: 60vw;
}

* {
  padding: 0 auto;
  margin: 0 auto;
}
